<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="MonoAndroid44" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="MonoAndroid44" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="MonoAndroid44" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="MonoAndroid44" />
  <package id="Mikepenz.Android.Iconics.Xamarin.Binding" version="1.2.0" targetFramework="MonoAndroid50" />
  <package id="Mikepenz.MaterialDrawer.Xamarin.Android" version="3.0.9" targetFramework="MonoAndroid50" />
  <package id="Portable.BouncyCastle" version="1.7.0.2" targetFramework="MonoAndroid44" />
  <package id="Sitecore.MobileSDK.PasswordProvider" version="1.0.1" targetFramework="MonoAndroid44" />
  <package id="Sitecore.MobileSDK.Xamarin" version="1.0.0" targetFramework="MonoAndroid44" />
  <package id="SnackbarSharp.dll" version="1.0.7" targetFramework="MonoAndroid44" />
  <package id="Square.OkHttp" version="2.4.0.2" targetFramework="MonoAndroid50" />
  <package id="Square.OkIO" version="1.5.0.0" targetFramework="MonoAndroid50" />
  <package id="Square.Picasso" version="2.5.2.1" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Android.Support.v4" version="22.2.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="22.2.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Android.Support.v7.CardView" version="22.2.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="22.2.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Android.Support.v7.Palette" version="22.2.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="22.2.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.GooglePlayServices.Base" version="25.0.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.GooglePlayServices.Location" version="25.0.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.GooglePlayServices.Maps" version="25.0.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Insights" version="1.10.4.112" targetFramework="MonoAndroid50" />
  <package id="Xamarin.NineOldAndroids" version="0.0.1" targetFramework="MonoAndroid50" />
</packages>