<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="net.sitecore.jetstream">
	 <supports-screens android:smallScreens="false"
                      android:normalScreens="false"
                      android:largeScreens="true"
                      android:xlargeScreens="true"
                      android:requiresSmallestWidthDp="600" />
	<uses-sdk android:minSdkVersion="14" android:targetSdkVersion="21" />
	<application android:label="Jetstream" android:icon="@drawable/icon"></application>
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>